# Domains / hostnames
GRAFANA_DOMAIN =
TRAEFIK_DOMAIN =

# Networks
PROXY_NETWORK = proxy_network
REDIS_NETWORK = redis_network
MONITORING_NETWORK = monitoring_network

# Monitoring/admin
GRAFANA_ADMIN_USER =
GRAFANA_ADMIN_PASSWORD =

# Traefik behavior
TRAEFIK_LOG_LEVEL =

# Shared Redis
REDIS_BIND_PORT =
REDIS_PASSWORD =